.main {
    display: flex;
    height: 100vh;
    background-color: white;
  }
  
  img {
    width: 50%;
    object-fit:contain;
  }
  
  .text-container {
    width: 50%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }