.main {
    display: flex;
    height: 100vh;
    background-color: white;
  }
  
  img {
    width: 50%;
    object-fit:contain;
  }
  
  .text-container {
    width: 50%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
  }

  button{
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #9698db;
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    text-align: center;
    width:40%;
    align-self: center;
    margin-top: 20px;
}

button:hover{
    background-color: #bbbcfc;
    translate: 0px -2px;
}