.register-block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, #9698db, #b2abe3, #e3e0ee, #ffffff);
    width: 30%;
    height: 80%;
    padding-top: 10px;
    border-radius: 10px;
  }
  .form-group{
    display:flex;
    flex-direction: column;
  }
  .register-block label{
    margin-bottom: 5px;
  }
  .register-block input{
    width:100%;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  } 
  .faicon1{
    align-self: flex-end;
    font-size: 22px;
    margin-right: 15px;
  }
  .faicon1 :hover {
    color: #9698db;
  }